@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto Slab', serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://source.unsplash.com/featured/1600x900/?nature');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 125%;
}
.card{
    background-color: #000000cf;
    color: #f6f6f6;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 12px;
    width: 100%;
    max-width: 420px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
input.search-bar{
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 100%;
}
button{
    margin: 0.5rem;
    border-radius: 50%;
    border: none;
    height: 45px;
    width: 45px;
    outline: none;
    background: #7c7c7c2b;
    color: #f6f6f6;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover{
    background-color:#7c7c7c6b;
}
.description{
    text-transform: capitalize;
    margin: 5px 0;
}
.humidity{
    margin: 5px 0;
}
.temp{
    margin: 1.5rem 0px;
}